(function(program, execJS) { execJS(program); })(function() {
  return eval("<%= source %>");
}, function(program) {
  var result;
  try {
    result = program();
    if (result === undefined) {
      process.stdout.write('["ok"]');
    } else {
      try {
        process.stdout.write(JSON.stringify(['ok', result]));
      } catch (err) {
        process.stdout.write('["err"]');
      }
    }
  } catch (err) {
    process.stdout.write(JSON.stringify(['err', '' + err]));
  }
});
